<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div id="root_container">
        <table>
            <tr>
                <input type="text" placeholder="author">
            </tr>
            <tr>
                <input type="text" placeholder="book_title">
            </tr>
            <tr>
                <input type="text" placeholder="size (pages)">
            </tr>
            <tr>
                <input type="submit" value="save">
            </tr>
        </table>
    </div>
</body>
</html>