<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Cards" th:fragment="bookSlider(recommendedBooks)">
    <div class="Card" th:each="book : ${recommendedBooks}">
        <a class="Card-picture" th:href="@{'/books/' + ${book.slug}}">
            <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
            <div th:if="${book.price >= 0.1}" class="Card-sale" th:text="${book.discount() + '% скидка'}"></div>
            <div class="Card-ribbon">
                <span class="Class-ribbonText" th:text="${book.isBestseller = 1} ? 'Бестселлер'">Бестселлер</span>
            </div>
        </a>
        <div class="Card-content">
            <strong class="Card-title">
                <a th:href="@{'/books/' + ${book.slug}}" th:text="${book.title}"></a>
            </strong>
            <div class="Card-description" th:text="${book.getAuthorsName()}"></div>
            <div class="Card-cost">
                <span th:if="${book.price >= 0.1}" class="Card-priceOld" th:text="${'₽' + book.priceOld}"></span>
                <span class="Card-price"
                      th:text="${book.price >= 0.1} ? ${'₽' + book.discountPrice()} : ${'₽' + book.priceOld}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>