<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="Cart-product" th:fragment="booksPostponed(postponedBooks)" th:each="book : ${postponedBooks}">
    <div class="Cart-block Cart-block_row">
        <div class="Cart-block Cart-block_pict">
            <a class="Cart-pict" href="#">
                <img class="Cart-img" src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
            </a>
        </div>
        <div class="Cart-block Cart-block_row">
            <div class="Cart-block Cart-block_info">
                <div class="Cart-author"><a href="#" th:text="${book.author}"></a>
                </div>
                <div class="Cart-title"><a href="#" th:text="${book.title}"></a>
                </div>
                <div class="Cart-rating"><span class="Rating"><span class="Rating-stars"><span
                        class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span></span></span>
                </div>
                <div class="Cart-buttons">
                    <div class="Cart-btn">
                        <button class="btn btn_primary btn_outline" data-sendstatus="CART" data-bookid="[1111]"><span
                                class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg"
                                                      alt="shopping-basket.svg"/></span><span
                                class="btn-content" th:text="#{cart.buy}">Купить</span>
                        </button>
                    </div>
                    <div class="Cart-btn">
                        <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK" data-bookid="[1111]"><span
                                class="btn-icon"><img src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span
                                class="btn-content" th:text="#{cart.delete}">Удалить</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="Cart-block Cart-block_price">
                <div class="Cart-priceTitle" th:text="#{cart.price}">Цена:
                </div>
                <div th:if="${book.price != null}" class="Cart-price Cart-price_old" th:text="${book.priceOld}">254 р.
                </div>
                <div class="Cart-price" th:text="${book.price == null} ? ${book.priceOld} : ${book.price}">180 р.
                </div>
                <div th:if="${book.price != null}" class="Cart-sale">-30%
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>