<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="factory" class="org.example.RoboFactory">
        <constructor-arg index="0" name="productionLine" ref="cleaner_prod_line"/>
        <constructor-arg index="1" name="productionSize" value="100"/>
    </bean>

    <bean id="cleaner_prod_line" class="org.example.CleanerRoboProdLine"/>
    <bean id="delivery_prod_line" class="org.example.DeliveryRobotProdLine"/>
</beans>